.shinykeyboard {
position: relative;
height: 500px;
width: 230px;
}

svg{
    pointer-events:all;
}


.shinykeyboard svg:hover {
cursor: pointer;
}

.key:hover, .key:focus {
  fill:#939799  !important;
  stroke:#939799 !important;
}



.key:active {
  fill:#FF4500  !important;
  stroke:#FF4500 !important;
}

.key.selected {
  fill:#FF4500  !important;
  stroke:#FF4500 !important;
}

#area {
display: block;
width: 100%;
clear: both;
padding: 10px;
text-align: center;
font-size: 25px;
font-family: Courier New;
color: #a5a5a5;
}

#area #data {
color: black;
}

.well{min-height:700px;}
